<a href="https://colab.research.google.com/github/Vicysaragih/PCAP_VICY/blob/main/PCAP_03_22_OKTOBER_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from math import sqrt as root

def my_root(x):
    try:
        return root(x)
    except:
        print('Function Error !')
        raise

x=-2
try:
    assert x + 2, "Wrong input !"
    print(my_root(x))
except Exception as e:
    print(e)
else:
    print('All good !')

Wrong input !

In [2]:
from platform import version
print(version())

#1 SMP Wed Aug 30 11:19:59 UTC 2023

In [3]:
from platform import system
print(system())

Linux

In [4]:
from platform import python_version
print(python_version())

3.10.12

In [5]:
from platform import python_implementation
print(python_implementation())

CPython

In [6]:
print(str(2/3)[-1])

6

In [7]:
class Jedi:
    def __init__(self, name):
        self.name = name
    def Print(self):
        return self.name


Luke = Jedi('Luke')
print(Luke)

<__main__.Jedi object at 0x7f08a061ee60>

**6. What is the expected output of the following snippet ?**

In [8]:
mylist1 = [[i for i in 'Luke'] for j in range(3)]
mylist2 =[]
for x in mylist1:
    for y in x:
        if y in mylist2:
            continue
        else:
            mylist2.append(y)
else:
    mylist2.append('!')
print(''.join(mylist2))

Luke!

**7. Which statement is true about the following line of code (Pick two) ?**

In [9]:
f = open('myfile.txt','r+t')

FileNotFoundError: ignored

**8. What is the expected output of the following code, assuming that the file named STRWR.txt does not exist?**

In [10]:
import errno

try:
    data = open("STRWR.txt", "rt")
    data.close()
except IOError as e:
    if e.errno == errno.ENOENT:
        print("A")
    elif e.errno == errno.EEXIST:
        print("B")
    elif e.errno == errno.EACCES:
        print("C")
    else:
        print("D")

A

**9. Two classes are defined as below :**

**Which function would you use to check if Jedi is a subclass of Sith ?**

In [14]:
class Jedi:
    def __init__(self, name):
        self.name=name

class Sith:
    def __init__(self, name):
        self.name=name

issubclass(Sith, Jedi)

False

In [17]:
class Jedi:
    def __init__(self, name):
        self.name=name

class Sith:
    def __init__(self, name):
        self.name=name

issubclass(Jedi, Sith)

False

In [15]:
class Jedi:
    def __init__(self, name):
        self.name=name

class Sith:
    def __init__(self, name):
        self.name=name

isinstance(Sith, Jedi)

False

In [16]:
class Jedi:
    def __init__(self, name):
        self.name=name

class Sith:
    def __init__(self, name):
        self.name=name

isinstance(Jedi, Sith)

False

**10. What code do you need to insert in line 12 to get the value of the instance variable  __count from the object my_snake printed on the screen ?**

In [18]:
class Snake:                    # line 1
    count = 0                   # line 2
    def __init__(self, val):    # line 3
        self.__count = val      # line 4
        count=2                 # line 5
                                # line 6
class Python(Snake):            # line 7
    def __init__(self, val):    # line 8
        super().__init__(val)   # line 9
                                # line 10
my_snake = Python(1)            # line 11
#insert code here               # line 12

In [20]:
print(Snake.count)

0

In [21]:
print(my_snake.count)

0

**11. What is the expected output of the following code?**

In [23]:
import math

def my_func(x,y):
    z = math.trunc(x) + math.ceil(x) - math.floor(y)
    return z

print(my_func(-1.6,-3.2))

2

**12. You want to create a new class Class2, as a subclass of class Class1.**

You want the constructor of Class2  to be exactly the same as the one from Class1 (this constructor has two parameters : self and val).

**Which code snippet below would comply with the above requirements ?**

**14. What is the expected output of the following code snippet ?**

In [26]:
class AlphaDivisionError(ZeroDivisionError):
    def __init__(self, message):
        ZeroDivisionError.__init__(self, message)

def func_div(x,y):
    if y==0:
        raise ZeroDivisionError("Can't divide by zero !")
    elif isinstance(y, str):
        raise AlphaDivisionError("Can't divide by string !")
    else:
        return x/y

try:
    print(func_div(4,'a'))
except ZeroDivisionError as e:
    print(str(e))
except Exception as e:
    print("There is an error !")
else:
    print('All good !')

Can't divide by string !

**16. What is the expected output of the following code ?**

In [27]:
class Robot:
    def __init__(self, name):
        self.name = name
    def __str__(self):
        return "My name is " + self.name

class Droid(Robot):
    def __str__(self):
        return "Hello I am a Droid and my name is " + self.name

R2D2 = Droid("R2D2")
print(R2D2)

Hello I am a Droid and my name is R2D2

17. What is the expected output of the following code ?

In [28]:
class Vegetable:
    pass

class RootVegetable(Vegetable):
    pass

class Potato(RootVegetable):
    pass

print(Potato.__bases__)

(<class '__main__.RootVegetable'>,)

**18.What is the expected output of the following code ?**

In [29]:
class Jedi:
    LightSaber = 1
    def __init__(self):
        self.force = 10


class Sith(Jedi):
    def __init__(self):
        self.force = 15

class Padawan(Sith):
    force = 5
    def __init__(self):
        super().__init__()

Luke = Padawan()

print(hasattr(Padawan, 'LightSaber'))
print(Luke.force)

True
15

1**9. What is the expected output of the following code?**

In [30]:
x = '\n\\//'
print(len(x))

4

In [31]:
from random import random
from math import floor

for i in range(5):
    print(floor(random()*10),end=',')

0,7,3,5,1,

**22. What will be printed to the monitor ?**

In [33]:
w = 'Luke'
x = 'luke'
y = '10'
z = '5'
print(w < x and y < z)
print(x > y and w > z)

True
True

**23. What do you need to replace zzz with to get the following printed to the monitor ?**

In [34]:
mylist1 = [x**x for x in range(4)]
mylist2 = tuple(filter(lambda x : x % 2 != 0, mylist1)) #zzz

print(mylist2)

(1, 1, 27)

**25. What is the expected output of the following code if the user enters 2 for a, 3 for b and 2 for c ?**

In [10]:
a = input("Enter a:")
b = input("Enter b:")
c = input("Enter c:")
print(int(a**b**c))

Enter a:2
Enter b:3
Enter c:2

TypeError: ignored

In [12]:
import math

print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

**28. Which code snippet would you replace zzz with to get the following printed to the monitor ?**

In [16]:
my_list = ['R2D2', 'C3PO']

print('Is Friend With '.join(my_list))  #zzz

R2D2Is Friend With C3PO

**29. What is the expected output of the following code ?**

In [17]:
def myfunc(x):
    try:
        y = 1 / x
    except ZeroDivisionError:
        print("Failure")
    except:
        print("Error")
    else:
        print("Everything OK")
        return y
    finally:
        print("Completed")


print(myfunc('0'))

Error
Completed
None

**30. What is the expected output of the following code snippet ?**

In [18]:
class Sith:
    darkside= True
    def __init__(self, x, y):
        self.name = x
        self.lightsaber = 1
        self.__son = y
    def __str__(self):
        return self.name

Vader = Sith("Vader", "Luke")
Vader.__daughter = 'Leia'
print(Vader.__dict__)

{'name': 'Vader', 'lightsaber': 1, '_Sith__son': 'Luke', '__daughter': 'Leia'}

**31. What will be the result of executing the following code?**

In [19]:
class Jedi:
    Force = 0
    def __init__(self,name):
        Jedi.Force +=1
        self.name = name
    def __str__(self):
        return "I am master Jedi " + self.name

class Padawan(Jedi):
    def print(self):
        return "I am a Padawan"

Luke=Jedi('Luke')
Ben=Jedi('Ben')
Baby_Yoda=Padawan('Baby Yoda')
print(Jedi.Force)
print(Baby_Yoda)

3
I am master Jedi Baby Yoda

**32. What will be the result of executing the following code?**

In [20]:
class Robot:
    def t(self):
        print('Robot')

class Droid:
    def t(self):
        print('Droid')

class ProtoDroid(Droid, Robot):
    def f(self):
        self.t()

R2D2 = ProtoDroid()
R2D2.f()

Droid

**33. What is the output of the following snippet**

In [21]:
def myfunc(n):
    res = 1
    for i in range(n,n+2,1):
        yield res
        res*= 2

y = [x for x in myfunc(3)]

print(y)

[1, 2]

**34. What is the expected output of the following code?**

In [22]:
my_str = "No, I am your father !"
z = my_str.find("a",7,14)
print(z)

-1

**35. What is the expected output of the following snippet ?**

In [23]:
def list_func(x):
    try:
        return x[4]/x[-1]
    except ZeroDivisionError:
        print("Function Error #1")
        raise
    except IndexError:
        print("Function Error #2")
        raise
    except:
        print("Function Error #3")
        raise

my_list=[3,4,1,0]
try:
    print(list_func(my_list))
except LookupError:
    print("Program Error #1")
except ArithmeticError:
    print("Program Error #2")
except:
    print("Program Error #3")

Function Error #2
Program Error #1

**36. What is the expected output of the following code snippet ?**

In [24]:
def sum_list(args, fun):
    z = 0
    for x in args:
        z = z + fun(x)
    return z

print(sum_list([ex//2 for ex in range(5)], lambda x: 1 if x>1 else 0))

1

In [25]:
class Jedi:
    def __init__(self):
        self.force = 10

class Sith:
    def __init__(self):
        self.force = 15
        self.bases = 1

class Padawan(Sith, Jedi):
    def __init__(self):
        super().__init__()

Luke=Padawan()
print(Luke.__bases__)

AttributeError: ignored

**38. Which output below is a possible output of the above code ?**

In [26]:
from random import sample

list_1 = [x << 1 for x in range(1,12,3)]
list_2 = sample(list_1, 3)
list_3 = list(filter(lambda x: x > 3, list_2))
print(list_3)

[14, 20, 8]

**39. What is the expected output of the following code ?**

In [27]:
class Jedi:
    def __init__(self, name):
        self.name = name

    def set_force(self, val):
        self.__force = val

Luke = Jedi('Luke')
Luke.set_force(10)
Luke.lightsaber = True

print(Luke.__dict__)

{'name': 'Luke', '_Jedi__force': 10, 'lightsaber': True}

**40. What is the expected output of the following code?**

In [28]:
def my_func(x,y):
    return x / y

try:
    my_func(5,0)
except ArithmeticError:
    print("A")
except ZeroDivisionError:
    print("B")
else:
    print("C")
finally:
    print("D")

A
D