<a href="https://colab.research.google.com/github/Vicysaragih/PCAP_VICY/blob/main/PCAP_MOCK_PART_2_4_Okt_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
 #Number 1
 class Car:
	def __init__ (self, x, y):
		self.none = x
		self.price = y
obj1 = Car("Audi", 200)
obj2 = Car("Audi", 200)
print(obj1 == obj2)

#The Answere will False if obj is different event the value are same

False

In [8]:
#Number 2

var1 = "5555"   #variable 1 at var1(5) compare with variable 1 at var2(5)
var2 = "56"     #Then variable 2 at var1(5) compare with variable 2 at var2(6)
print(var2 > var1)

var1 = "5555"
var2 = "55"
print(var2 > var1)

var1 = "5555"
var2 = "54"
print(var2 > var1)

True
False
False

In [11]:
 #Number 3
 for i in range (9):
	pass
print(i)

#Range is 9 so we count 0 to 8.

8

In [ ]:
#choose the correcr number of static, local or instance variables

class Animal:
	price= 500 #Static variable (price)
	def__init__(self, x): #Local variables (self and x)
		self.breed = x #instance variables (breed)
	def name_me(self, y): #Local variables (self and y)
		self.name = y #instance variables (name)

# static = 1
# local = 4
# instance = 2

In [17]:
import copy
list1 = [10, 20, 30, ['A', 'B', 'C']]
list2 = list1.copy()
list3 = copy.deepcopy(list1)
list1[3][1] =000
list1[1] = 000
print(list1)
print(list2)
print(list3)

[10, 0, 30, ['A', 0, 'C']]
[10, 20, 30, ['A', 0, 'C']]
[10, 20, 30, ['A', 'B', 'C']]

In [18]:
import copy
list1 = [10, 20, 30, ['A', 'B', 'C']]
list2 = list1.copy()
list3 = copy.deepcopy(list1)
list1[3][2] = 000
list1[2] = 000
print(list1)
print(list2)
print(list3)

[10, 20, 0, ['A', 'B', 0]]
[10, 20, 30, ['A', 'B', 0]]
[10, 20, 30, ['A', 'B', 'C']]

In [19]:
try:
	print(VICY)
except NameError:
	print(" Something went wrong")
except NameError:
	print("everithing went wrong")
finally:
	print("end of code")

 Something went wrong
end of code

In [21]:
def say(p, q=42, r=5, s=28):
	print('p :', p, 'q :', q, 'r : ', r, 's :', s)
say(48, (45, 39), s = 30)

p : 48 q : (45, 39) r :  5 s : 30

In [23]:
T = ('a', 'b', 'c', 'd', 'e')
L = range (0, 5)
for i in L:
	print(ord(T[i]), end = " ")
	if i >= 3:
		break

97 98 99 100

In [27]:
T = ('a', 'b', 'c', 'd', 'e')
L = range (1, 5)
for i in L:
	print(ord(T[i]), end = " ")
	if i >= 5:
		break

98 99 100 101

In [28]:
T = ('a', 'b', 'c', 'd', 'e')
L = range (1, 4)
for i in L:
	print(ord(T[i]), end = " ")
	if i >= 5:
		break

98 99 100