<a href="https://colab.research.google.com/github/Vicysaragih/PCAP_VICY/blob/main/PCAP_Preparation_4_Oktober_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
class Calculate:
	var1 = 20
	def __init__(self, var1):
		self.var1 = var1
		self.var1 = self.var1 + 7
		Calculate.var1 = Calculate.var1 + 7
	def print(self):
		print(Calculate.var1)
		print(self.var1)
Calculate(10).print()
Calculate(15).print()

27
17
34
22

In [6]:
class Calculate:
	var1 = 20
	def __init__(self, var1):
		self.var1 = var1
		self.var1 = self.var1 + 7
		Calculate.var1 = Calculate.var1 + 4
	def print(self):
		print(Calculate.var1)
		print(self.var1)
Calculate(10).print()
Calculate(15).print()

24
17
28
22

In [7]:
class Calculate:
	var1 = 20
	def __init__(self, var1):
		self.var1 = var1
		self.var1 = self.var1 + 4
		Calculate.var1 = Calculate.var1 + 7
	def print(self):
		print(Calculate.var1)
		print(self.var1)
Calculate(10).print()
Calculate(15).print()

27
14
34
19

In [8]:
class Calculate:
	var1 = 20
	def __init__(self, var1):
		self.var1 = var1
		self.var1 = self.var1 + 4
		Calculate.var1 = Calculate.var1 + 4
	def print(self):
		print(Calculate.var1)
		print(self.var1)
Calculate(10).print()
Calculate(15).print()

24
14
28
19

In [11]:
class Calculate:
	var1 = 20
	def __init__(self, var1):
		self.var1 = var1
		self.var1 = self.var1 + 4
		Calculate.var1 = Calculate.var1 + 4
	def print(self):
		print(Calculate.var1) #Hasil 24
		print(self.var1) #Hasil 28
Calculate(11).print() #Hasil 15
Calculate(15).print() #Hasil 19

24
15
28
19

In [13]:
class Calculate:
	var1 = 20
	def __init__(self, var1):
		self.var1 = var1
		self.var1 = self.var1 + 4
		Calculate.var1 = Calculate.var1 + 4
	def print(self):
		print(Calculate.var1) #Hasil 24
		print(self.var1) #Hasil 28
Calculate(10).print() #Hasil 14
Calculate(11).print() #Hasil 15

24
14
28
15

In [15]:
class Calculate:
	var1 = 20
	def __init__(self, var1):
		self.var1 = var1
		self.var1 = self.var1 + 4
		Calculate.var1 = Calculate.var1 + 4
	def print(self):
		print(Calculate.var1) #Hasil 24
		print(self.var1) #Hasil 28
Calculate(10).print() #Hasil 14
Calculate(11).print() #Hasil 15
Calculate(12).print()

24
14
28
15
32
16

In [19]:
#Choose the correct output

x = 45
y = 25

def Sum(x):
	global x
	print("Sum inside Sum() : " x + y)

Sum(25)
print ("Sum outside Sum() : " x + y)

# Error because there is local variable but trying to overshadow with Global

SyntaxError: ignored

In [24]:
print("%.2o"%(25))
print("%.5o"%(25))
print("% 10E"%(76835264255))

31
00031
 7.683526E+10

In [30]:
print(0x5 | 0x6)

7

In [33]:
try:
	print(25/0)
except ZeroDivisionError:
	print("Zero Division Error")
except:
	print("Something Went Wrong")
else:
	print("Nothing Went Wrong")

Zero Division Error

In [37]:
class A :
	def __init__(self):
		self.num1 = 10
	def show_num1(self):
		print(self.num1)

class B(A):
	def __init__(self):
		self.num2 = 20
		super().__init__()
	def show_num2(self):
		print(self.num2)

obj = B()
obj.show_num1()
obj.show_num2()

10
20

In [42]:
#Indexing
str = " " .join(["VICY", "AC", "SARAGIH"])
l= (str, "are", "Name", "And Marga")
print(l[-4])

VICY AC SARAGIH

In [46]:
class Calculate:
	A = 20
	B = 20
	def __init__ (self, a, b):
		print(self.A + self.B/2 + 1)

Calculate(4,10)

31.0